<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta
    name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
  >
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../../static/css/style.css"> 
  <title>Perhitungan efisiensi energi untuk rumah pintar</title>
</head>
<body>
  <header class="header">
    <div class="header__text">
      <h1>Calculate your carbon footprint!</h1>
      <p>Dont waste too much energy!</p>
    </div>
  </header>
  <main>
    {% block content %}
    <h2 class="main__title main__title--margin">Your energy Efficeiency:</h2>
    <div class="main__rez" id="end">
        {%if result <= 150%}
        <img class="rez__img" src="../../static/img/planet_good.svg" alt="">
        <span>You use {{result}} kWh</span>
        <span>You Have Very Efficeient Energy!</span>
        {%elif result >= 151 and result < 300%}
        <img class="rez__img" src="../../static/img/planet_medium.svg" alt="">
        <span>You Use {{result}} kWh</span>
        <span>Your Energy usage is average!</span>
        {%elif result >= 300%}
        <img class="rez__img" src="../../static/img/planet_bad.svg" alt="">
        <span>You use {{result}} kWh </span>
        <span>Your energy Efficeiency is Below average </span>
        <span>Do you want to make the world a better place? click the button to find the solution!</span>
        <a href="{{ url_for('form') }}" class="main__link">Fill in the Form</a>
        {%endif%}
    </div>
    {% endblock %}
  </main>
  <footer>

  </footer>
</body>
</html>
