<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta
    name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
  >
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../static/css/style.css">
  <title>Perhitungan efisiensi energi untuk rumah pintar</title>
</head>
<body>
  <header class="header">
    <div class="header__text">
      <h1>Calculate your carbon footprint!</h1>
      <p>Dont waste too much energy!</p>
    </div>
  </header>
  <main>
    {% block content %}
    <h2 class="main__title">How many Trips do you take in a year?:</h2>
    <ul class="list" id="list">
      <!-- Tugas #3 -->
      <li class="list__item">
        <a href="{{size + lights + device + vehicle + "/1" }}"> 
          <img class="item__img" src="../static/img/Trip.svg" alt="Trips">
          <span>1-2 Trips</span></a>
      <li class="list__item">
        <a href="{{size + lights + device + vehicle + "/4" }}"> 
          <img class="item__img" src="../static/img/Trip.svg" alt="Trips">
          <span>3-4 trips</span></a>
      </li>
      <li class="list__item">
        <a href="{{size + lights + device + vehicle + "/7" }}"> 
          <img class="item__img" src="../static/img/Trip.svg" alt="Trips">
          <span>5-6 trips</span></a>
      </li>
      <li class="list__item">
        <a href="{{size + lights + device + vehicle + "/10" }}"> 
          <img class="item__img" src="../static/img/Trip.svg" alt="Trips">
          <span>7+ trips</span></a>
      </li>

      </li>
      <!--  -->
    </ul>
    {% endblock %}
  </main>
  <footer>

  </footer>
</body>
</html>
